<style>



      .conatiner {text-align:center; }



hr{
border-style: ;

}

            h1{
            color:#009900;
            text-align:center;
            font-size:46px;


        }
        p { color:black;
            font-size:23px;
            margin-top:12px;
            margin-left:6px;
            }



            h2 {
            color:black;
            font-size:46px;
        }



            h3 {
            color:#1A5EE9 ;
            font-size:46px;
        }

         h4{
            color:blue;
            font-size:15px;
        }




            h5 {

            font-size:12px;
            }


             h6 {

            font-size:20px;
            }


h7 {

            font-size:25px;
            }
h8 {

            font-size:25px;
            }

 table {


                 color:black;
                 font-size:16px;
        }



         table{


            width: 100%;
            background-color: whaite;
        }
        table, th, td {

            border: 1px solid black;

        }

        th {
            text-align: center;
        }
        table {
            border-spacing: 5px;
        }

#heading:hover{
color:blue;
}
        .circular{
        border-radius:100%;
        }



   </style>
